<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="/fragmentos/fragmentos :: header"></div>
<section class="hero-section overlay bg-cover" data-background="/img/banner-1.jpg">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
	      <div class="hero-slider-item">
	        <div class="row">
	          <div class="col-md-8">
	            <h1>Entre e gerencie</h1>
	            <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	              tempor
	              incididunt ut labore et
	              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
	            <a data-toggle="modal" data-target="#modalLogin" class="btn btn-primary">Login</a>
	          </div>
	        </div>
	      </div>
		</div>
	</div>
</section>

<!-- MODAL -->
	<div class="modal fade" id="modalLogin">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Faça Login:</h5>
					<button class="close" type="button" data-dimiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<form method="post" action="login-professor">
					<div class="modal-body">
						<input type="text" class="form-control">
						<br>
						<input type="password" class="form-control">
						<br>
						<button type="submit">Entrar</button>
					</div>
				</form>
				<div class="modal-footer">
					<button></button>
					<button></button>
				</div>
			</div>
		</div>
	
	</div>


	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>